<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{word-cloud data=topics topicsController=controller}}
        </div>
        <div class="col-md-4">
            {{topic-details topic=topic}}
        </div>
    </div>
</div>


